.item{
    width: 20rem;
    height: 20rem;
    background-color: darkred;
}

.titulo1{

    font-size: 24px;
    color: aliceblue;
    margin-left: 6rem;
}

.img{

    width: 192px;
    height: 192px;
    border-radius: 25%;
    margin: auto;
    margin-top: 18px;
    display: flex;
}

.descripcion{

    margin-top: 18px;
    font-size: 22.8px;
    color: aliceblue;
    text-align: center;
}