header {
    height: 4rem;
    border-bottom: 1px solid gray;
    background-color: rgb(196, 125, 125);
    padding: 0 2rem;
    
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.titulo {
    font-size: 1.5rem;
}
.circulito {
    width: 4rem;
    height: 4rem;


    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

